In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'panel'

In [2]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [3]:
_2020 = pd.read_csv('2020.csv')
#_2020.head()

In [4]:
_2021 = pd.read_csv('2021.csv')
#_2021.head()

In [5]:
_2022 = pd.read_csv('2022.csv')
#_2022.head()

In [6]:
tweet_count = pd.concat([_2020, _2021, _2022], axis = 0)
#tweet_count.head()

In [7]:
tweet_count = tweet_count.reset_index(drop=True)
#tweet_count

In [8]:
#tweet_count.info()

In [9]:
tweet_count.describe()

,Unnamed: 0,id,conversation_id,timezone,place,user_id,user_id_str,day,hour,video,...,user_rt_id,user_rt,retweet_id,retweet_date,translate,trans_src,trans_dest,replies_count,retweets_count,likes_count
count,11717.000000,1.586000e+04,1.586000e+04,15860.000000,0.0,15860.0,11717.0,11717.000000,11717.000000,15860.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4143.000000,4143.000000,4143.000000
mean,5858.000000,1.133529e+18,1.131256e+18,104.489281,NaN,44196397.0,44196397.0,4.116327,12.369634,0.064817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3047.961863,4392.684528,49953.278059
std,3382.550887,2.954208e+17,2.973048e+17,175.726064,NaN,0.0,0.0,1.970473,7.766689,0.246211,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7030.305145,12213.278282,103849.982613
min,0.000000,1.543473e+10,1.659576e+09,0.000000,NaN,44196397.0,44196397.0,1.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,21.000000,850.000000
25%,2929.000000,1.005880e+18,1.003540e+18,0.000000,NaN,44196397.0,44196397.0,2.000000,5.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,328.000000,247.000000,5109.000000
50%,5858.000000,1.187815e+18,1.184225e+18,0.000000,NaN,44196397.0,44196397.0,4.000000,15.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,636.000000,523.000000,10398.000000
75%,8787.000000,1.354763e+18,1.354174e+18,400.000000,NaN,44196397.0,44196397.0,6.000000,19.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1842.500000,2007.500000,33697.500000
max,11716.000000,1.500030e+18,1.499977e+18,400.000000,NaN,44196397.0,44196397.0,7.000000,23.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120523.000000,143636.000000,963257.000000

In [10]:
#only the tweets and the date
tweet_count = tweet_count[['date','tweet','replies_count','retweets_count','likes_count']]
#tweet_count

In [11]:
#clean up the date format
tweet_count.date = tweet_count.date.str[:10] #tweets.date.str[:10]
#tweet_count

In [12]:
#clean the tweets (remove @'s' and urls and)
TEXT_CLEANING_RE = "@\S+|https?:\S+|http?:\S|[^A-Za-z0-9]+"
new = []
for t in tweet_count.tweet:
    words = t.split()
    t = t.split()
    t = ' '.join(word for word in t if not word.startswith('@'))
    t = t.split()
    t = ' '.join(word for word in t if not word.startswith('http'))
    new.append(t)
    
tweet_count['tweet'] = new
#tweet_count

In [13]:
#find tweets mentioning dogecoin
dogecoin = pd.DataFrame(columns = ['Date', 'Tweet', 'Retweets Count', 'Likes Count'])

for i in range(len(tweet_count)):
    cur = tweet_count.loc[i].tweet
    cur = cur.lower()
    if 'dogecoin' in cur:
        dogecoin = dogecoin.append({'Date' : tweet_count.loc[i].date, 
                                    'Tweet' : tweet_count.loc[i].tweet,
                                    'Retweets Count' : tweet_count.loc[i].retweets_count,
                                    'Likes Count' : tweet_count.loc[i].likes_count},
                ignore_index = True)

dogecoin['Date'] = pd.to_datetime(dogecoin['Date'], format='%Y-%m-%d')
#dogecoin

In [14]:
#find tweets mentioning dogecoin
elon = pd.DataFrame(columns = ['Date', 'Tweet', 'Retweets Count', 'Likes Count'])

for i in range(len(tweet_count)):
    cur = tweet_count.loc[i].tweet
    cur = cur.lower()
    if 'elon' in cur:
        elon = elon.append({'Date' : tweet_count.loc[i].date, 
                                    'Tweet' : tweet_count.loc[i].tweet,
                                    'Retweets Count' : tweet_count.loc[i].retweets_count,
                                    'Likes Count' : tweet_count.loc[i].likes_count},
                ignore_index = True)

elon['Date'] = pd.to_datetime(elon['Date'], format='%Y-%m-%d')
elon.dropna(inplace=True)
#elon

In [15]:
#find tweets mentioning dogecoin
tesla = pd.DataFrame(columns = ['Date', 'Tweet', 'Retweets Count', 'Likes Count'])

for i in range(len(tweet_count)):
    cur = tweet_count.loc[i].tweet
    cur = cur.lower()
    if 'tesla' in cur:
        tesla = tesla.append({'Date' : tweet_count.loc[i].date, 
                                    'Tweet' : tweet_count.loc[i].tweet,
                                    'Retweets Count' : tweet_count.loc[i].retweets_count,
                                    'Likes Count' : tweet_count.loc[i].likes_count},
                ignore_index = True)

tesla['Date'] = pd.to_datetime(tesla['Date'], format='%Y-%m-%d')
tesla.dropna(inplace=True)
#tesla

In [16]:
#find tweets mentioning dogecoin
spacex = pd.DataFrame(columns = ['Date', 'Tweet', 'Retweets Count', 'Likes Count'])

for i in range(len(tweet_count)):
    cur = tweet_count.loc[i].tweet
    cur = cur.lower()
    if 'spacex' in cur:
        spacex = tesla.append({'Date' : tweet_count.loc[i].date, 
                                    'Tweet' : tweet_count.loc[i].tweet,
                                    'Retweets Count' : tweet_count.loc[i].retweets_count,
                                    'Likes Count' : tweet_count.loc[i].likes_count},
                ignore_index = True)

spacex['Date'] = pd.to_datetime(spacex['Date'], format='%Y-%m-%d')
spacex.dropna(inplace=True)
#spacex.head(100)

In [17]:
#dogecoin data
#doge_data = pd.read_csv('DOGE-USD.csv')
#doge_data.head()

In [18]:
df = pd.concat([dogecoin, elon, tesla, spacex])
df.dropna(inplace = True)
dfnew = df[['Date', 'Retweets Count', 'Likes Count']]
dfnew

          Date  Retweets Count  Likes Count
4   2021-10-31         22062.0     241960.0
5   2021-10-22         10584.0      57811.0
6   2021-07-13          3807.0      21780.0
7   2021-05-26          4185.0      32637.0
8   2021-05-25         11776.0     128451.0
..         ...             ...          ...
253 2022-01-12          1120.0      19634.0
254 2022-01-08           340.0       8297.0
255 2022-01-08          6040.0      76089.0
256 2022-01-02          4459.0      66405.0
257 2022-01-21          1953.0      27497.0

[534 rows x 3 columns]

In [19]:
np.min(dfnew)

Date              2021-01-02 00:00:00
Retweets Count                   73.0
Likes Count                    1350.0
dtype: object

In [20]:
np.max(dfnew)

Date              2022-03-05 00:00:00
Retweets Count               107869.0
Likes Count                  865043.0
dtype: object

In [21]:
df = pd.concat([dogecoin, elon, tesla, spacex])
df.dropna(inplace = True)
dfnew = df[['Date', 'Likes Count']]
dfnew

          Date  Likes Count
4   2021-10-31     241960.0
5   2021-10-22      57811.0
6   2021-07-13      21780.0
7   2021-05-26      32637.0
8   2021-05-25     128451.0
..         ...          ...
253 2022-01-12      19634.0
254 2022-01-08       8297.0
255 2022-01-08      76089.0
256 2022-01-02      66405.0
257 2022-01-21      27497.0

[534 rows x 2 columns]

In [22]:
np.min(dfnew)

Date           2021-01-02 00:00:00
Likes Count                 1350.0
dtype: object

In [23]:
np.max(dfnew)

Date           2022-03-05 00:00:00
Likes Count               865043.0
dtype: object

In [24]:
dfnew.describe()

         Likes Count
count     534.000000
mean    55743.623596
std    107814.075833
min      1350.000000
25%      6727.000000
50%     13469.000000
75%     51025.000000
max    865043.000000

In [25]:
# Plotting the data from the top 10 expensive neighbourhoods
# YOUR CODE HERE!
dfnew.hvplot.bar(
    x='Date', 
    y='Retweets Count',
    yformatter='%0f', 
    rot=90, 
    height=500,
    )

DataError: Supplied data does not contain specified dimensions, the following dimensions were not found: ['Retweets Count']

PandasInterface expects tabular data, for more information on supported datatypes see http://holoviews.org/user_guide/Tabular_Datasets.html